@import "icons.css";

body {
    font: 14pt "Clear Sans", "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background-color: #2A3B44;
    margin: 0;
}

.card {
    display: none;
    flex-direction: column;
}
.card:target {
    display: flex;
}
.card header {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}
.card header section {
    margin: 1em .5em;
    font-size: 1.2em;
    display: table-cell;
    vertical-align: middle;
    flex-grow: 1;

}

.card header .question {
    flex-grow: 0;
    font-weight: 200;
    font-style: italic;
    margin-bottom: .5em;
}

.card header .process {
    position: relative;
    padding-right: 2em;
}

.card header .process::after {
    opacity: .5;
    content: "\e900";
    position: absolute;
    font-size: 2em;
    right: 0; top: 0;
}

.card nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
}
.card nav section {
    text-align: center;
    flex: 1;
    font-weight: bold;
    padding: 1em;
    position: relative;
}

.card nav .positive {
    background-color: #38a;
    order: 2;
    padding-right: 2.2em;
}
.card nav .positive::after {
    content: "\e90c";
    right: 0;
}

.card nav .negative {
    background-color: #842;
    order: 1;
    padding-left: 2.2em;
}
.card nav .negative::before {
    content: "\e90b";
    left: 0;
}

.card nav .positive::after,
.card nav .negative::before {
    font-size: 2.4em;
    top: .25em;
    opacity: 0.5;
    position: absolute;
}

.card main {
    flex-basis: 80%;
    flex-grow: 0;
    overflow-y: scroll;
}

.card main section h2 {
    margin: 2em 1em 1em;
    font-size: .75em;
    font-weight: 100;
}

.card main video {
    background-color: rgba(0,0,0,.3);
    background-image: url('video.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.card main ol {
    margin: .5em;
    padding-left: 1.5em
}

.history {
    background-color: #412A44;
    padding: 1em 0 0.5em;
}
.history li.positive strong { background-color: #38a; }
.history li.negative strong { background-color: #842; }
.history li strong {
    display: inline-block;
    padding: 0 .4em;
    border-radius: .25em;
}
.history li {
    padding: .5ex;
}
.history li:nth-of-type(2n+1) {
    background-color: rgba(249, 249, 242, .1)
}

.history ol {
    list-style-type: none;
    padding: 0;
    margin: .5em 0;
}

.history h1 {
    margin: 1em .5em 0;
    font-size: .75em;
    font-weight: 100;
}
.history h1::before {
    content: "\e907";
    margin-right: .5ex;
    font-size: 1.6em;
    vertical-align: middle;
}


.video-controls {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: hsla(360, 0%, 0%, 0.2);
    align-items: center;
}
.video-controls button {
    font-size: 2em;
    color: inherit;
    flex-grow: 0;
    padding: 0;
    margin: 0;
}

.video-controls progress {
    -webkit-appearance: none;
    height: 2em;
    flex-grow: 1;
}
.video-controls progress::-webkit-progress-bar { background: none; }
.video-controls progress::-webkit-progress-value { background: #38a; }
