/* Empty. Add your own CSS if you like */
ion-content {
  font: 14pt "Clear Sans", "Open Sans", sans-serif;
  color: #000;
  background-color: #2A3B44;
  margin: 0;
  width: 100%;
  height: 100%;
}
header {
  flex-grow: 0;
  padding: 1rem;
}
h3{
  color: #F9F9F2;
  font-size: 1.2em;
  font-weight: bold;
}
.container {
  width: 100%;
  display: block;
  height: 100%;
  padding-top: 15%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 40%;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: bottom 0.25s ease;
}
.popup-container .popup {
  background-color: rgba(0,0,0,0.3);
}
.item{
  color:  #black;
}
.containet-detail{
  padding-bottom: 10% ;
}
.list-container{
  min-height:60%; max-height: 60%;
}
.list-container1{
  min-height:65%; max-height: 65%;
}
.list-container-detail{
  position: inherit;
  min-height:35%; max-height: 35%;
}
.button.text{
  color: black;
}
.buddy {
  display: none;
  background: rgba(0,0,0,0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  padding-top: 10%;
  width: 100%;
  height: 100%;
  text-align: center;
}
.rotate-left {
  transform: rotate(-90deg) scale(0.9);
  transition: 1s;
  margin-right: -400px !important;
  margin-top: -200% !important;
  cursor: e-resize;
  opacity: 0;
}
.rotate-right {
  transform: rotate(90deg) scale(0.9);
  transition: 1s;
  opacity: 0;
  margin-right: 400px !important;
  margin-top: -200% !important;
  cursor: w-resize;
}
.bar-subheader {
  height: 20%;
  top: 80%;
  z-index: 1;
  transition: top 0.25s ease;
}
.has-subheader {
    top: 44px;
}
.den12{
  height: 5%;
}
.button{
  color: #f9f9f2;
}
.btn-positive{
  background-color: #38a;
  border:none;
  position:fixed; top:0px; right: 0px; width:50%; height: 100%;
  transition: top 0.25s ease;
  color: #f9f9f2;
  font-size: 2em !important;
}
.btn-negative{
  background-color: #842;
  border: none;
  position:fixed; top:0px; left: 0px; width:50%; height: 100%;
  transition: top 0.25s ease;
  color: #f9f9f2;
  font-size: 2em !important;
}
.deneme{
  top:0px;
  height: 100%;
}
.rot{
  transform: rotate(-90deg);
  transition: top 0.25s ease;
}
.rot1{
  transform: rotate(90deg);
}
.rotate-next-right {
  transform: rotate(90deg) scale(0);
  transition: 0s;
  transform: rotate(-90deg) scale(1);
  transition: 1s;
  opacity: 0;
  margin-left: 0 !important;
  margin-bottom: 100% !important;
  cursor: w-resize;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
