<ion-view hide-nav-bar="true">
  <ion-content ng-controller="OpenCtrl" class="start" scroll="false">

    <header class="icon-nimbus">
      Nimbus 0.1.0
    </header>
    <section class="guides" >
      <h1 class="icon-guide">Guides</h1>
      <h4>
        User, service, installation and spare part manuals
      </h4>
    </section>
    <section class="service" ng-click="Servis()">
      <h1 class="icon-service">Service</h1>
      <h4>Step by step guided servicing</h4>
    </section>
    <section class="login">
              <h1 class="icon-qrcode" ng-click="Login()">Login</h1>
              <h4>Log into a machine</h4>
    </section>
  </ion-content>
</ion-view>
