<ion-view title="" style="width: 100%; height: 100%;" hide-nav-bar="true">
  <ion-content class="padding" ng-controller="OpenCtrl" style=" color: rgba(255, 255, 255, 0.8); background-color: #35393B;">

    <header class="icon-nimbus">
      Nimbus 0.1.0
    </header>
    <section class="guides" ng-click="Kilavuz()">
      <h1 class="icon-guide">Guides</h1>
      <h4>
        User, service, installation and spare part manuals
      </h4>
    </section>
    <section class="service" ng-click="Servis()">
      <h1 class="icon-service">Service</h1>
      <h4>Step by step guided servicing</h4>
    </section>

  </ion-content>
</ion-view>
