nav{
  left: 0;
  height: 18%;
  width: 100%;
  z-index: 1;
  transition: top 0.25s ease;
  top: 82%;

}
.has-subheader {
    top: 0;
    height: 8%;
    position: fixed;
    transition: top 0.25s ease;
}
.detail{
  -webkit-animation:animatebottom 0.4s;
  animation:animatebottom 0.4s;
  margin-top:5vh;
  position:fixed;
  visibility: hidden;
}
.serhat{
  left:0;
}
.serhat1{
  height:100px;
}
