@import "icons.css";

body {
    font: 14pt "Clear Sans", "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background-color: #2A3B44;
    margin: 0;
}

.card {
    flex-direction: column;
    display: flex;
    height: 100vh; /*05.09 eklendi. */
      position: fixed;/*05.58 eklendi. */
}
.card header {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}
.card header section {
    margin: 1em .5em;
    font-size: 1.2em;
    display: table-cell;
    vertical-align: middle;
    flex-grow: 1;

}

.card header .question {
    flex-grow: 0;
    font-weight: 200;
    font-style: italic;
    margin-bottom: .5em;
}

.card header .process {
    position: relative;
    padding-right: 2em;
}

.card header .process::after {
    opacity: .5;
    content: "\e900";
    position: absolute;
    font-size: 2em;
    right: 0; top: 0;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
}
 nav section {
    text-align: center;
    flex: 1;
    font-weight: bold;
    padding: 1em;
    position: relative;
}

 nav .positive {
    background-color: #38a;
    order: 2;
    padding-right: 2.2em;
}
nav .positive::after {
    content: "\e90c";
    right: 0;
}

nav .negative {
    background-color: #842;
    order: 1;
    padding-left: 2.2em;
}
nav .negative::before {
    content: "\e90b";
    left: 0;
}

nav .positive::after,
nav .negative::before {
    font-size: 2.4em;
    top: .25em;
    opacity: 0.5;
    position: absolute;
}

.card main {
    flex-basis: 80%;
    flex-grow: 0;
    overflow-y: scroll;
}

.card main section h2 {
    margin: 2em 1em 1em;
    font-size: .75em;
    font-weight: 100;
}

.card main video {
    background-color: rgba(0,0,0,.3);
    background-image: url('video.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

#detail ol {
    margin: .5em;
    padding-left: 1.5em;
   height:50vh; 
   overflow: auto;
}

.card main li.current { color: white; }
.card main li.current::before {
    content: "\e906";
    float: right;
    margin-left: .5em;
    font-size: 2em;
}

.history {
    background-color: #412A44;
    padding: 1em 0 0.5em;
    max-height: 60vh;/* 90 dı 60 yapıldı 04.56*/

}
.history li.positive strong { background-color: #38a; }
.history li.negative strong { background-color: #842; }
.history li strong {
    display: inline-block;
    padding: 0 .4em;
    border-radius: .25em;
}
.history li {
    padding: .5ex;
}
.history li:nth-of-type(2n+1) {
    background-color: rgba(249, 249, 242, .1)
}
.history ol li:before {
    content: counter(history-counter, decimal);
    counter-increment: history-counter;
    opacity: .5;
    font-size: .5em;
    display: inline-block;
    width: 1em;
    text-align: right;
    padding-right: .7em;
    vertical-align: text-top;
}
.history ol {
    list-style-type: none;
    padding: 0;
    margin: .5em 0;
    /*max-height: 80vh;
    overflow-y: scroll;04.41 Silindi*/
    counter-reset: history-counter;
}
::-webkit-scrollbar {
    display: none;
}/* Scrool gizlendi. 04.44 */
.history h1 {
    margin: 1em .5em 0;
    font-size: .75em;
    font-weight: 100;
}
.history h1::before {
    content: "\e907";
    margin-right: .5ex;
    font-size: 1.6em;
    vertical-align: middle;
}


.video-controls {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: hsla(360, 0%, 0%, 0.2);
    align-items: center;
}
.video-controls button {
    font-size: 2em;
    color: inherit;
    flex-grow: 0;
    padding: 0;
    margin: 0;
}

.video-controls progress {
    -webkit-appearance: none;
    height: 2em;
    flex-grow: 1;
}
.video-controls progress::-webkit-progress-bar { background: none; }
.video-controls progress::-webkit-progress-value { background: #38a; }

.card input[type=radio] + label,
.card input {
    border: none;
    background: hsla(0,0%,0%,.3);
    color: white;
    font: inherit;
    padding: .5em 1ex;
    width: 100vw;
    margin: 1ex -0.5em 1em -0.5em;
    align-self: stretch;
    outline: none;
}

.card input::-webkit-input-placeholder {
  color: #405A68;
}

.card input[type=radio] { display: none; }
.card input[type=radio] + label {
    display: block;
    margin: .5ex -.5em;
}
.card input[type=radio]:checked + label {
    background-color: #00803D;
}

.card input[type=radio]:checked + label::after {
    content: "\e908";
    font-size: 1.5em;
    vertical-align: middle;
    float: right;
    margin-right: .5em;
}

.card.escape { background-color: #442227;}
.card.escape header section:first-child::before {
    content: "\e900 ";
    font-size: 2em;
    vertical-align: middle;
}

.card main p {
    margin: 0em .5em 1em;
}

strong {
    color: white;
    font-weight: inherit;
}
