
<ion-view title="Tolon Makina" style="width: 100%; height: 100%">
  <ion-header-bar class="bar-positive" >
    <h1 class="title">Ionic Sub Header Show/Hide on Scroll</h1>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader bar-dark" >
    <button class="btn-negative"> Click Me</button>
    <button class="btn-positive"> Click Me</button>
  </ion-header-bar>
  <ion-content ng-controller="cll" scroll="false">
    <div class="container" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" on-swipe-up="onSwipeUp()" on-swipe-down="onSwipeDown()">
      <div class="buddy"  style="display: block">
        <h3 class="stage__title">{{chats[next_page].title}}</h3>
        <div style="min-height:65%; max-height: 65%">
          <ion-list >
            <div ng-if="detail" ng-repeat="d in chats">
              <ion-item ng-repeat="data in chats[next_page].content">
                <video width="320" height="240" controls><source ng-src="{{data.src | trusted}}"type="video/mp4"></video>
                <b>{{chats[next_page].detail[data.id-1].id}}.</b> {{chats[next_page].detail[data.id-1].text}}
              </ion-item>
            </div>
            <div ng-if="!detail">
            <ion-item ng-repeat="text1 in chats[next_page].detail">
              <b>{{ text1.id }}.</b> {{ text1.text }}
            </ion-item>
            </div>

          </ion-list>
        </div>
      </div>
      <div class="buddy rot"  style="display: block">
        <h3 class="stage__title">{{chats[next_page].title}}</h3>
        <div style="min-height:65%; max-height: 65%">
          <ion-list style="min-height:65%; max-height: 65%">
            <div ng-if="detail" ng-repeat="d in chats">
              <ion-item ng-repeat="data in chats[next_page].content">
                <video width="320" height="240" controls><source ng-src="{{data.src | trusted}}"type="video/mp4"></video>
                <b>{{chats[next_page].detail[data.id-1].id}}.</b> {{chats[next_page].detail[data.id-1].text}}
              </ion-item>
            </div>
            <div ng-if="!detail">
              <ion-item ng-repeat="text1 in chats[next_page].detail">
                <b>{{ text1.id }}.</b> {{ text1.text }}
              </ion-item>
            </div>

          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


