<ion-view title="" style="width: 100%; height: 100%;" hide-nav-bar="true">
  <ion-content class="padding" ng-controller="OpenCtrl" style=" color: rgba(255, 255, 255, 0.8); background-color: #35393B;">
    <a class="button icon-guide  button-dark" style="width: 100%!important; height: 48%!important; font-size: 70px; margin-bottom: 5%; padding-top: 15%;  background-color: #2E442A;" ng-click="Kilavuz()"> <div style="min-height: 15%"></div>KILAVUZ</a>
    <a class="button icon-service button-dark" style="width: 100%; height: 48%; font-size: 75px; padding-top: 15%; background-color: #2A3B44;" ng-click="Servis()"><div style="min-height: 15%" ></div>SERVİS</a>
  </ion-content>
</ion-view>
