<ion-view title="Tolon Makina" style="width: 100%; height: 100%">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
  <ion-content class="padding" ng-controller="OpenCtrl">
    <a class="button ion-ios-book  button-dark" style="width: 100%!important; height: 48%!important; font-size: 70px; margin-bottom: 5%; padding-top: 15%" ng-click="Kilavuz()"> <div style="min-height: 15%"></div>KILAVUZ</a>
    <a class="button ion-wrench button-dark" style="width: 100%; height: 48%; font-size: 75px; padding-top: 15%" ng-click="Servis()"><div style="min-height: 15%" ></div>SERVİS</a>
  </ion-content>
</ion-view>
